<!DOCTYPE html>
<html>
  <head>
    <style>
      #map {
        height: 400px;
        width: 800px;
       }
      table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
       }
      a {
        text-decoration: underline;
        color: #0645AD;
        cursor: pointer;
      }
    </style>
  </head>
  <body>
    <h3>Property Map</h3>
    <div id="map"></div><br>
    <div id="grid"></div>
    <script src="js/jquery-3.2.1.js"></script>
    <script src="js/mapping.js"></script>
    <script src="js/propertyTable.js"></script>
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBSgKoT0nPZz0Y0Xq5plRhJWFQUweBb73E&callback=initMap">
    </script>
  </body>
</html>